#Ignore everything
*

#Whitelisting all directories
!*/


#File types to be dumped in the repository
'gitattributes
!.gitignore
!*.java
!*.txt
!*.jar

#Ignores Testing and make files
Testing.java
testing.java
